/* Fichier pour le thèmes de l'application */
:root{
  /* Variables CSS générals*/
}
body{
  margin: 0;
  padding: 0;
}
a{
  color: #f5f5f5;
  text-decoration: none;
}

.navbar{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 80px;
  padding: 0 20px;
  background: #3a1a6b;
  color: #fff;
}
.navbar ul{
  display: flex;
  flex-direction: row;
}
.navbar ul li{
  margin: auto;
  list-style: none;
}
.landing{
  height: calc(100vh - 80px);
  background: linear-gradient(#2bc6e2, #5b2aa7);
  align-items: center;
  display: grid;
}
h2{
  text-align: center;
}