/* Fichier pour le thèmes de l'application */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

:root{
  /* Variables CSS générals*/
  --primary-color: #000022;
  --primary-gradient-color: #6b7bf4;
  --secondary-color: #f28123;
  --tersary-color: #c42847;
  --white: #fefefd;
}
body{
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--primary-color);
  font-family: 'Baloo Paaji 2', cursive;
}
a{
  color: #f5f5f5;
  text-decoration: none;
}

.navbar{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 80px;
  padding: 0 20px;
  background: #3a1a6b;
  color: #f5f5f5;
}
.navbar ul{
  display: flex;
  flex-direction: row;
}
.navbar ul li{
  margin: auto;
  list-style: none;
}
.landing{
  height: calc(100vh - 80px);
  background: linear-gradient(#2bc6e2, #5b2aa7);
  align-items: center;
  display: grid;
}
h2{
  text-align: center;
  color: var(--tersary-color);
  font-size: 45px;
}
input{
  width: 90%;
  border-radius: 15px;
  height: 20px;
  background: var(--white);
  border: #f8e0ff;
  padding: 10px 5%;
  margin: 15px 0;
}
.register {
  margin-top: 30%;
}
.submit{
  background: var(--tersary-color);
  color: var(--white);
  margin: 10px;
  height: 50px;
}
.cancel{
  display: grid;
  align-items: center;
  text-align: center;
}
.sliderCount{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.sliderCount li{
  margin: auto;
  font-size: 25px;
}
.sliderCount li.active{
  background: var(--tersary-color);
  padding: 0 16px;
  border-radius: 50%;
}
.separator{
  font-size: 30px;
  font-family: cursive;
}