/* Fichier pour le thèmes de l'application */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

:root {
  /* Variables CSS générals*/
  --primary-color: #25283d;
  --secondary-color: #f5d84b;
  --white: #fefefd;
}
body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--primary-color);
  font-family: "Baloo Paaji 2", cursive;
}
a {
  color: #f5f5f5;
  text-decoration: none;
}
h2 {
  text-align: center;
  color: var(--tersary-color);
  font-size: 45px;
}
.input {
  width: 90%;
  border-radius: 15px;
  height: 20px;
  background: var(--white);
  border: #f8e0ff;
  padding: 10px 5%;
  margin: 15px 0;
}
.register {
  margin-top: 30%;
}
.submit {
  background: var(--secondary-color);
  color: var(--white);
  margin: 10px;
  height: 50px;
}
.cancel {
  display: grid;
  align-items: center;
  text-align: center;
}
.sliderCount {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.sliderCount li {
  margin: auto;
  font-size: 25px;
}
.sliderCount li.active {
  background: var(--secondary-color);
  padding: 0 16px;
  border-radius: 50%;
}
.separator {
  font-size: 30px;
  font-family: cursive;
}
.filter {
  height: 38px;
  margin: 17px auto 0;
}
.recherche {
  width: 93%;
  border: 1px var(--secondary-color) solid;
  border-radius: 20px;
  height: 30px;
  padding: 5px;
  margin: 15px auto 0 0;
}
.filtrer{
  display: grid;
  position: absolute;
  background: #25283d;
  font-size: 15px;
  z-index: 9;
  width: 100%;
}
.name-filtre{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
}
#anim canvas {
  height: 100vh;
  width: 100vw;
}

#anim *,
html,
body {
  font-family: "Roboto";
}

#logo .cls-1 {
  color: #efefef;
  fill: currentColor;
}
#logo .cls-2 {
  color: #efefef;
  fill: currentColor;
}
#logo .cls-3 {
  color: #f9d903;
  fill: currentColor;
}

#hero {
  position: fixed;
  top: 10vh;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
#hero h2 {
  font-size: 30px;
}

#logo {
  max-width: 200px;
  opacity: 0;
  animation: appear 1s 1s ease-out forwards;
}

#acc1 {
  opacity: 0;
  color: #ffffff;
  animation: appear 0.6s 2.5s ease-out forwards;
}
#acc2 {
  opacity: 0;
  color: #ffffff;
  animation: appear 1.2s 3.3s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes simpleAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cadre {
  position: fixed;
  width: 95%;
  height: 95%;
  transform: translate(2.5%, 2.5%);
  border: solid 1px rgba(249, 217, 3, 0.8);
  opacity: 0;
  animation: simpleAppear 1.2s 3.8s ease-out forwards;
}

.button {
  display: inline-block;
  padding: 0.625em 2em;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 0.1rem;
  background-color: #ffffff;
}
.button a {
  color: #000000 !important;
}

#hero .button {
  margin-top: 50px;
  opacity: 0;
  animation: simpleAppear 1.2s 4.5s ease-out forwards;
}

.lives-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main h2{
  color: var(--secondary-color);
}
.card-live {
  flex: 1 1 auto;
  background-color: #f3f3f3;
  border-radius: 3%;
  margin: 20px auto;
  max-width: 150px;
  max-height: 150px;
  color: #313131;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
  transform: scale(1);
}

.card-live .logo img,
.card-live .profile img {
  max-width: 30px;
  max-height: 30px;
}

.card-live .logo {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: solid 3px rgba(31, 31, 31, 0.5);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.pulse {
  box-shadow: 0 0 0 0px rgba(31, 31, 31, 1);
  animation: pulse 1s 0s infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(31, 31, 31, 0);
  }
}

.card-live .day{
  background: var(--secondary-color);
  color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
}
.card-live .hour{
  background: var(--secondary-color);
  color: var(--primary-color);
  position: absolute;
  top: 20px;
  left: 0;
}
.card-live .banner {
  height: 100px;
  position: relative;
  background-color: #25283d;
}
.card-live .banner img {
  position: relative;
  max-height: 100px;
}
.card-live .name,
.card-live .game {
  padding-left: 5px;
  font-family: "Roboto";
  font-weight: 500;
}

.card-live:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (min-width: 700px){
  .card-live {
    flex: 1 1 auto;
    background-color: #f3f3f3;
    border-radius: 3%;
    margin: 20px 30px;
    max-width: 150px;
    max-height: 150px;
    color: #313131;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    transform: scale(1);
  }
}