/* Fichier pour le thèmes de l'application */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

:root{
  /* Variables CSS générals*/
  --primary-color: #26273E;
  --secondary-color: #F9D903;
  --white: #FEFEFD;
}
body{
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--primary-color);
  font-family: 'Baloo Paaji 2', cursive;
}
.App-logo{
  width: 200px;
}
.App-logo-Centre{
  width: 444px;
  height: 220px;
  left: 708px;
  top: 89px;
}
a{
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
}
.video {
  margin: auto;
  text-align: center;
}
.button{
  background: var(--secondary-color);
  text-align: center;
  display: block;
  width: 246px;
  height: 60px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;line-height: 60px;
  border-radius: 10px;
  margin: 10px auto;
}
.signupRows{
  color: gray;
  background: var(--white);
  width: 325px;
  height: 42px;
  border-radius: 17px;
  padding-left: 15px;
  margin: 20px auto;
  border: none;
}